.postList {
    margin-top: 96px;
    margin-bottom: 96px;

    > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 48px;
    }

}

@media screen and (max-width: 768px) {
    .postList {
        margin-top: 48px;
        > ul {
            grid-template-columns: 1fr;
        }
    }
  }