.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  min-height: 100%;
}

.freeButton {
  padding: 0px 50px;
  display: inline-block;

  &:focus {
    padding: 0px 47px;
  }
}

.video {
  border-radius: 4px;
}

.title {
  margin: 48px 0px;
  text-align: center;
  font-family: Open Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}

.licenses {
  margin: 48px 0px 96px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;

  .licensesButton {
    width: 100%;
  }
}

.questionText {
  margin: 48px 0px;
  text-align: center;

  .questionTitle {
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
  }

  .description {
    color: white;
    padding-top: 16px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

.questionDescription {
  margin-top: 24px;
  margin-bottom: 128px;
}

.questionMainCard {
  width: 100%;
}


.cardList {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.mainCard {
  background: radial-gradient(100% 100% at 100% 0%, rgba(90, 152, 255, 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
  margin-right: 0px;
}

.card1 {
  background: radial-gradient(100% 100% at 100% 100%, rgb(90 152 255 / 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
}

.card2 {
  background: radial-gradient(100% 100% at 0% 100%, rgb(90 152 255 / 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
}

.card3 {
  background: radial-gradient(100% 100% at 100% 50%, rgb(90 152 255 / 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
}

.card4 {
  background: radial-gradient(100% 100% at 0% 50%, rgba(90, 152, 255, 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
}

.card5 {
  background: radial-gradient(60% 180% at 50% 0%, rgba(90, 152, 255, 0.7) 0%, rgba(67, 138, 244, 0) 94.3%);
  margin-right: 0px;
}

.card6 {
  background: radial-gradient(100% 100% at 100% 0%, rgba(90, 152, 255, 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
}

.card7 {
  background: radial-gradient(100% 100% at 0% 0%, rgba(90, 152, 255, 70%) 0%, rgba(67, 138, 244, 0) 94.3%);
}

.cardListTitle {
  font-weight: 900;

}

.descriptionList {
  margin-top: 30px;
  padding-left: 15px;

  li {
    list-style-type: disc;
  }
}

.descriptionSection {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #8D94A7;

  .P1 {
    width: 100%;
  }

  .P2 {
    width: 100%;
  }
}

.P3 {
  margin-top: 15px;

  h5 {
    margin-bottom: 10px;
    color: var(--neutral-20, #F4F5F6);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  p {
    color: var(--neutral-20, #F4F5F6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.descriptionListLicenses {
  margin-top: 10px;
}

@media (max-width: 1280px) {
  .container {
    padding: 1rem 3rem;
  }
}



@media (max-width: 900px) {
  .cardList {
    flex-direction: column;
  }

  .container {
    padding: 1rem 1rem;
  }

  .licenses {
    flex-direction: column
  }
}

@media (max-width: 600px) {
  .descriptionSection {
    flex-direction: column
  }
}