.modal {
    color: #FFF;
    background: radial-gradient(100% 100% at 0% 100%, rgb(41 97 190 / 50%) 0%, rgb(67 138 244 / 0%) 94.3%);
    padding: 24px;

    .modalComtainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .successIconContainer {
        background: rgba(89, 205, 107, 0.12);
        padding: 16px;
        border-radius: 50%;
        margin-bottom: 24px;
        display: flex;
    }

    .modalTitle {
        color: var(--neutral-10, #FFF);
        text-align: center;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.504px;
        margin-bottom: 16px;
    }

    .modalDescription {
        width: 85%;
        color: var(--neutral-30, #D8DCEA);
        text-align: center;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 24px;
    }

    .modalButton {
        width: 100%;
    }
}